<%= form_for(fake_dns_server, html: { class: "pure-form pure-form-aligned" } ) do |f| %>
  <% if fake_dns_server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fake_dns_server.errors.count, "error") %> prohibited this fake_dns_server from being saved:</h2>

      <ul>
      <% fake_dns_server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="pure-control-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "pure-u-6-24" %>
  </div>

  <div class="pure-control-group">
    <%= f.label :target_server %>
    <%= f.text_field :target_server, class: "pure-u-12-24" %>
    <%= f.select :record_type, [ %w{A A}, %w{CNAME CNAME}], class: "pure-u-6-24" %>
  </div>

  <div class="pure-control-group">
    <%= f.label :upstream %>
    <%= f.text_field :upstream, class: "pure-u-6-24" %>
  </div>

  <div class="pure-control-group">
    <%= f.label :hooking_hostnames %>
    <%= f.text_area :hooking_hostnames, class: "pure-u-10-24", rows: '10' %>
  </div>

  <div class="pure-control-group">
    <%= f.label :loglevel %>
    <%= f.select :loglevel, [ %w{DEBUG DEBUG}, %w{INFO INFO}, %w{WARN WARN}, %w{ERROR ERROR}], class: "pure-u-6-24" %>
  </div>

  <div class="pure-controls">
    <div class="actions">
      <%= f.submit(class: 'pure-button pure-button-primary') %>
    </div>
  </div>
<% end %>
