<p id="notice"><%= notice %></p>

<h1>Fake Dns Servers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Default server</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fake_dns_servers.each do |fake_dns_server| %>
      <tr>
        <td><%= fake_dns_server.name %></td>
        <td><%= fake_dns_server.default_server %></td>
        <td><%= link_to 'Show', fake_dns_server %></td>
        <td><%= link_to 'Edit', edit_fake_dns_server_path(fake_dns_server) %></td>
        <td><%= link_to 'Destroy', fake_dns_server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fake Dns Server', new_fake_dns_server_path %>
