<p id="notice"><%= notice %></p>

<div class='pure-u-18'>
  <strong>Server Name:</strong>
  <%= @fake_dns_server.name %>
</div>


<%= react_component('Logs', id: @fake_dns_server.id, name: @fake_dns_server.name) %>

<br />
<div class='pure-u-18'>
  <%= link_to 'Edit Config', edit_fake_dns_server_path(@fake_dns_server), class: 'pure-button' %> 
  &nbsp;
  <%= link_to 'Back to Index', fake_dns_servers_path, class: 'pure-button' %>
</div>
