<p id="notice"><%= notice %></p>

<div class='pure-u-24-24'>
  <strong>Server Name:</strong>
  <%= @fake_dns_server.name %>
</div>

<div class='pure-u-2-24'>
  Status:
</div>
<div class='pure-u-2-24'>
  <%= react_component('StatusMessage', props: {server_id: @fake_dns_server.id, initialStatus: @fake_dns_server.status} ) %>
</div>
<div class='pure-u-3-24'>
  <%= react_component('StartButton', props: {server_id: @fake_dns_server.id, initialStatus: @fake_dns_server.status} ) %>
</div>
<div class='pure-u-3-24'>
  <%= react_component('StopButton', props: {server_id: @fake_dns_server.id, initialStatus: @fake_dns_server.status} ) %>
</div>
<div class='pure-u-3-24'>
  <%= react_component('ClearLogButton', props: {server_id: @fake_dns_server.id, initialStatus: @fake_dns_server.status} ) %>
</div>

<div class='pure-u-18-24'>
  <%= react_component('Logs', props: {id: @fake_dns_server.id, name: @fake_dns_server.name} ) %>
</div>

<br />
<div class='pure-u-18'>
  <%= link_to 'Edit Config', edit_fake_dns_server_path(@fake_dns_server), class: 'pure-button' %>
  &nbsp;
  <%= link_to 'Back to Index', fake_dns_servers_path, class: 'pure-button' %>
</div>
