<p id="notice"><%= notice %></p>

<div>
  <strong>Server Name:</strong>
  <%= @fake_dns_server.name %>
</div>


<%= react_component('Logs', id: @fake_dns_server.id, name: @fake_dns_server.name) %>

<%= link_to 'Edit', edit_fake_dns_server_path(@fake_dns_server) %> |
<%= link_to 'Back', fake_dns_servers_path %>
